@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800|Raleway:600,800&display=swap');

@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";
@import "utilities.css";

body {
    background-image: url("/assets/images/interlaced.png");
}

.appearance-none {
    -moz-appearance: none;
    -webkit-appearance: none;
}

.loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}