<div class="w-4/5 m-auto bg-white text-center pt-8 pb-10">
    <h1 class="font-display text-3xl">The Oracle has spoken!</h1>
    <div class="font-body text-2xl">You have <span class="text-blue-800">~{{round @result.years_left}}</span> years left to live</div>
</div>