<div class="items-center py-2" ...attributes>
    {{#if @label}}
        <label class="block text-blue-700 text-sm font-display mb-2" for="username">
            {{@label}}
        </label>
    {{/if}}
    <Input
        class="appearance-none bg-gray-200 font-body text-gray-700 border border-gray-200 w-full py-3 px-4 focus:outline-none focus:bg-white rounded-l"
        @type="text"
        @placeholder={{@placeholder}}
        @value={{@value}}
    />
</div>